* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-align {
    text-align: center;
}

.result {
    padding: 0.5rem;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background: #2e1300;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

.container main {
    background: #ffd5af;
    width: 50%;
    height: 50%;
    justify-content: space-evenly;
}

.container main .form > * {
    margin: 0.5rem;
}

.container main .form input {
    width: 100%;
    padding: 0.5rem;
    font-size: 18px;
    border-radius: 0.25rem;
}

.container main .form .btn {
    padding: 0.5rem;
    background: #827f54;
    text-decoration: none;
    color: black;
    border-radius: 0.25rem;
}

.container main .form .btn:hover {
    background: #e59a59;
}